body{
  font-family: 'Pontano Sans', sans-serif;
}

.patrocinado{
  border-color: green;
  border-width: 1px;
}
#banner_principal{
  padding-top: 50px;
  height: 500px;
  width: 100%;
  background-image: url('/images/unicodonobanner.jpg');
  background-position: center;
}
.drop{
  border: 2px dotted lightskyblue;
  min-height: 250px;
  border-radius: 10px;
}
.btn-primary{
  background-color: #03598f !important;
}
#avatar-revenda{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
#revenda-top{
  padding-top: 80px;
  height: 250px;
  width: 100%;
  /*background-image: url('/images/dealership.jpg');*/
  background-repeat: no-repeat;
  background-position: 20% 80%;
  background-size: cover;
}
.bg-primary{
  background-color: #03598f !important;
}
#menu-principal{
  padding: 20px;
}
#pesquisa-principal{
  border-width: 0px;
}

.bg-secondary{
  background-color: #1a1a1a !important;
}

.card{
  padding: 14px;
}

.fale_conosco{
  background-image: url('/images/fale_conosco/background.jpg');
  margin-top: -35px;
  margin-bottom: -35px;
}
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.del-hover:hover{
  background-color: red;
  color: white;
}

/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
    color:  #03598f;
}
#tabs h6.section-title{
    color:  #03598f;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #03598f;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color:  #03598f;
    font-size: 20px;
}
